@import "../../../css/common";

.address-container {
    width: 100%;
    position: relative;
    .item {
        $hei: 0.9rem;
        @include border-bottom-line();
        height: $hei;
        background: white;
        width: 100%;
        position: relative;
        color: #666;

        .info {
            padding: 0.1rem;
            .user-name {
                color: #333;
                font-weight: 700;
                font-size: 0.26rem;
            }
            .gender {
                color: #666;
            }
            .phone {

            }
            .address {
                font-size: 0.23rem;
            }
        }
        .modify {

        }
    }
    .add-address {
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        color: $mainColor;
        position: fixed;
        bottom: 0;
        width: $pageWidth;
        background: white;
        @include border-top-line();
        font-size: 0.26rem;

        .icon-add {
            font-size: 40px;
        }
    }
}
